@import '@unocss/reset/tailwind-compat.css';
@import "@sukka/markdown.css";
@unocss all;

body {
  background: #f4f4f5;
  margin-left: 1em;
  margin-right: 1em;
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  body {
    margin-left: 2em;
    margin-right: 2em;
  }
}

.wave {
  display: inline-block;
  animation: wave-animation 5.5s ease-in-out infinite;
  transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* PostCarousel.css */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.post-carousel-track {
  animation: scroll 30s linear infinite;
}

.post {
  transition: box-shadow 0.3s ease;
  border-radius: 6px;
}

/* Hide scrollbar for WebKit browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.react-calendar-heatmap .color-scale-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #1e6823;
}

.toc {
  position:sticky;
  top:2rem;
  max-height:calc(100vh - 4rem);
  overflow-y:auto;
  padding-right:1rem;
  max-width:100%;
  overflow-x:hidden
}

[data-active='true'] {
  color: #000;
}